body{
    margin: 0;
    padding: 0;
}
.first_page{
    position: absolute;
    width:100%;
    height: 100%;
    background-image: url('./images/background.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    opacity: 0.9;
    overflow: hidden;
    
    
} 

.left{
    background-color: rgba(254, 253, 253, 0.8);
   
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 50%;
    height: 100%;
    overflow: hidden;

}
.right{
   
    background-color: rgba(138, 117, 117, 0.5);
   
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   


}
.logo_img{
    opacity: 0.9;
    mix-blend-mode:darken;
    justify-content:center;
   filter: brightness(100%),contrast(100%);
  
 
   
}
.text{
    
    font-style: bold;
    font-size: 40px;
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px 30px blue inset;
    cursor: pointer;
}
#phase{
    width: 400px;
    font-size: 28px;
    color: rgb(45, 45, 41);

}
.scaling{
      transition: transform 0.5s;
      overflow: hidden;
}




.second_page{
    display: none;
   
    position: absolute;
        width:100%;
        height: 100%;
        background-image: url('./back.png');
        background-size: cover;
       
        justify-content: center;
        opacity: 0.7;
        overflow: hidden;
        
       
      
}


/* second page csss

*   **   ***********************************
***************************************
**************************************************
*****************************************
**********************************


*/
/* body{
    margin: 0;
    padding: 0;
} */
.second_page{
    display: hidden;
   
    position: absolute;
        width:100%;
        height: 100%;
        background-image: url('./back.png');
        background-size: cover;
       
        justify-content: center;
        opacity: 0.7;
        overflow: hidden;
        position:fixed;
        
       
      
}

.navbar{ 
    width:100%;
    
    height: 110px;
      display: flex;
     justify-content: space-between;
     margin: 0;
     padding: 0;
     overflow: visible;

}
.inside_nav{
    margin: 0px;
    display: flex;
    height: 120px;
    justify-content: space-between;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
}
hr{
    border: none;
    border-top: 2px solid black;
    /* color: black; */

}
.inside2{

  margin-left: 30px;
  margin-right: 50px;
  /* border: 2px solid black; */
  padding: 5px;
    
}
.player{
    margin-top: 14px;
    width:60px;
    border-radius: 50%;
}
.head1{
    margin: 0;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: 800;
    font-family: 'Press Start 2P', cursive;
    

}
.score{
   
    display: flex;
    justify-content: center;
   
    align-items: center;
    margin: 0;
    width:40px;
    height:35px;
}
.p_second{
    font-size: 40px;
    height:20px;
   
  
    

}

  .fakebody {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 90vh;
    
    
  }
  .main{
    width:100px;
  }
  
  .game_box {
   
    width: 100%;
    height: 100%;
    margin: 2px;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
  }

  .cards{
    margin:5px;
    width:6%;
    height:26%;
    
    position: relative;
    transform:scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
} 

  .cards:active {
    transform: scale(0.97);
    transition: transform .2s;
  }
  
  .cards.flip {
    transform: rotateY(180deg);
  } 
  
  .front-face,
  .back-face {
     width: 100%;
     height: 100%;
    padding: 5px;
    position: absolute;
    border-radius: 20px;
    backface-visibility: hidden;
  }
  
 .front-face {
    transform: rotateY(180deg);
  } 